#
/ssh-agent/.config/systemd/user/default.target.wants/
/vim/.vim/plugged
/xmonad/.xmonad/prompt-history
/xmonad/.xmonad/xmonad-x86_64-linux
/xmonad/.xmonad/xmonad.errors
/xmonad/.xmonad/xmonad.hi
/xmonad/.xmonad/xmonad.o
